.panel {
  position: absolute;
  --tw-bg-opacity: 1;
  background-color: rgb(100 28 52 / var(--tw-bg-opacity));
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  gap: 10px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
}

#options-container {
  display: none;
  position: absolute;
  top: 70px;
  right: 30px;
  --tw-bg-opacity: 1;
  background-color: rgb(100 28 52 / var(--tw-bg-opacity));
  
}

.layers:hover {
  background-color: #528bb9;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 5px #888888;
}